<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
 http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	 <bean id="p1" class="com.demo.POJO" >
	 <property name="Name" value="SBI" /> </bean> 

	<!-- <bean id="Earth" class="com.demo.POJO" autowire="byType">
		<property name="Name" value="SBI" />
	</bean> -->
	
</beans>
